* {
    box-sizing: border-box;
}
 .btn
 {
    border-style: none;
    background-color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 70%);
    cursor:pointer;
    padding: .5em 1em;
    border-radius: .5em;
}
.btn:hover, .btn:focus {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}
.btn.primary-btn
 {
    background-color: hsl(271, 70%, 50%);
  border-color: hsl(271, 70%, 30%);
  color: white;
}
.btn.primary-btn:hover, .btn:focus {
    background-color: hsl(271, 70%, 40%);
    box-shadow: 0 0 5px 0 hsl(271, 70%, 30%);
    color:white;
}
.btn.Accent-btn {
    background-color: hsl(200, 100%, 40%);
    border-color: hsl(200, 100%, 20%);
    color: white;
  }
  
  .btn.Accent-btn:hover, .btn.btn-accent:focus {
    background-color: hsl(200, 100%, 30%);
    box-shadow: 0 0 5px 0 hsl(200, 100%, 20%);
  }
  
  .btn.Danger-btn {
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 30%);
    color: white;
  }
  
  .btn.Danger-btn:hover, .btn.btn-danger:focus {
    background-color: hsl(0, 60%, 40%);
    box-shadow: 0 0 5px 0 hsl(0, 60%, 30%);
  }
  
  .btn.Large-btn {
    font-size: 1.25rem;
  }
  
  .btn.small-btn {
    font-size: .75rem;
  }
  
  .btn.Pill-btn {
    border-radius: 1000000px;
  }
  
  .btn.Custom-btn {
    background: linear-gradient(to right, hsl(271, 70%, 50%), hsl(200, 100%, 40%));
    color: white;
    border-color: #222;
  }
  
  .btn.Custom-btn:hover, .btn.btn-custom:focus {
    background: linear-gradient(to right, hsl(271, 70%, 40%), hsl(200, 100%, 30%));
    border-color: black;
    box-shadow: 0 0 5px 0 black;
  }